<h2>Forgot Password</h2>
<form #forgotPasswordForm="ngForm" autocomplete="off" (ngSubmit)="passwordReset(forgotPasswordForm)">


  <div class="container">

    <label for="Username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required [(ngModel)]="model.username" #username="ngModel">
    <br>
    <label for="Email"><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="emailAddress" required [(ngModel)]="model.emailAddress" #email="ngModel">

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required [(ngModel)]="model.password"
      #password="ngModel">
    <div class="flex-container">
      <button type="submit">Forgot Password</button>
      <button (click)="navigateToLogin()">Login</button>
    </div>



  </div>
</form>
